* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  color: #c7f9cc;
  font-size: 1.2em;
  font-family: "Libre Baskerville", serif;
}

/* HERO SECTION */
.hero-container {
  background-image: url(images/gran-canaria.avif);
  background-size: cover;
  height: 100vh;
  text-shadow: 0 0 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.hero-container h1 {
  position: relative;
  top: -60px;
}

.title {
  font-size: 3em;
}

.hero-description h2 {
  border-bottom: 3px solid #38a3a5;
  width: 65%;
  margin: 0 auto;
}

.hero-description {
  position: relative;
  bottom: -260px;
  left: 300px;
  width: 30%;
  align-self: center;
}

/* ACTIVITIES SECTION */

.activities-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: #38a3a5;
  justify-content: center;
  align-items: center;
}

.activities-container img {
  width: 400px;
  border-radius: 10%;
}

.explore,
.taste,
.sport {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 75px;
}

/* GUIDE SECTION */

.guide-container {
  background-color: #22577a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guide-card {
  background-color: #57cc99;
  width: 30%;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  box-shadow: 7px 7px 5px #38a3a5;
}

.guide-container img {
  width: 200px;
  border-radius: 50%;
}

.guide-description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.guide-description p {
  font-size: 0.8em;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

a {
  height: 20px;
  color: inherit;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  font-size: 1.3em;
}
